*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #333;
}

nav{
  width: 100%;
  position: fixed;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu{
  display: flex;
}

#menubar {
  font:bold 14px "malgun gothic";
  color:rgb(255, 255, 255);
  line-height: 50px; 
  text-align: center;
}

#navbar{
  padding: 10px;
}

.menuitem{
  width: 80px;
  align-items: center;
  text-align:center;
  padding: 0 10px;
  margin: 0 5px;
  position:relative;
}

#menubar > ul > li > ul {
  width:120px;
  display:none;
  position: absolute;
  font-size:13px;
  background: skyblue;
  text-align:center;
  right:-16px;
}

#menubar > ul > li:last-child > ul {
  right:-13px;
}

#menubar>ul>li:hover{
  color: rgb(93, 220, 174);
}

.sidemenu{
  color: black;
}

#menubar > ul > li:hover > ul {
  display:block;
}

.sidemenu > li:hover {
  background-color: blanchedalmond;
  transition: ease-in-out 0.1s;
  }

section{
  padding: 50px;
}

#Home{
  background: url(images/tae1.jpg) center/cover no-repeat;
  text-align: center;
  padding: 100px 40px 450px 40px;
}

#subtitle{
  font-size: 25px;
  color: white;
}