*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #333;
}

nav{
  width: 100%;
  position: fixed;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

#navbar__logo{
  font-size: 25px;
  margin-left: 25px;
  color: white;
}

.menu{
  display: flex;
}

#menubar {
  font:bold 14px "malgun gothic";
  color:rgb(255, 255, 255);
  line-height: 50px; 
  text-align: center;
}

#navbar{
  padding: 10px;
}

.menuitem{
  width: 80px;
  align-items: center;
  text-align:center;
  padding: 0 10px;
  margin: 0 5px;
  position:relative;
}

#menubar > ul > li > ul {
  width:120px;
  display:none;
  position: absolute;
  font-size:13px;
  background: skyblue;
  text-align:center;
  right:-16px;
}

#menubar > ul > li:last-child > ul {
  right:-13px;
}

#menubar>ul>li:hover{
  color: rgb(93, 220, 174);
}

.sidemenu{
  color: black;
}

#menubar > ul > li:hover > ul {
  display:block;
}

.sidemenu > li:hover {
  background-color: blanchedalmond;
  transition: ease-in-out 0.1s;
  }

section{
  padding: 50px;
}

#Home{
  background: linear-gradient( to right, rgba(202, 202, 202, 0.2), rgba(0, 0, 0, 0.2) ),url(images/taewall.jpg) center/cover no-repeat;
  text-align: center;
  padding: 80px 40px 100px 40px;
}

#home__title{
  color: white;
  background: transparent;
  font-size: 30px;
  text-align: center;
  position: relative;
  width: fit-content;
  top: 150px;
  left: 60px;
}

#home__subtitle{
  color: white;
  font-size: 13px;
  text-align: left;
  position: relative;
  width: 200px;
  height: 300px;
  top: 15px;
  left: 730px;
  border: 6px solid rgba(196, 196, 196, 0.7);

  /* border-radius: 30px; */
  background-color: rgba(255,255,192,0.1);
  backdrop-filter: blur(7px);
  box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
}

.home__sub2{
  padding-top: 40px;
  padding-left: 15px;
}

#Abstract{
  background-color: beige;
}

#abstract__title{
  text-align: center;
  font-size: 20px;
}

#abstract__main{
  display: flex;
  margin-top: 30px;
}

.abstract__photo{
  width: 550px;
  height: 400px;
  
}

#abstract__desc{
  padding-left: 40px;
  text-align: left;
}

#abstract__plus{
  display: inline-block;
  position: relative;
  top: 30px;
  left: 650px;
  font-size: 13px;
}

.abstract__list{
  list-style: inside decimal;
  line-height: 35px;
  text-indent: -18px;
  padding: 15px 0 15px 18px;
}

#Intro__Goal{
  background-color: rgba(69, 219, 245, 0.683);
}

#goal__title{
  text-align: center;
  font-size: 20px;
}

#Intro__Reason{
  background-color:beige
}

#canvas {float:left; position:relative; width: 350px; height:400px; margin: 0;}
#south {width: 350px; height:400px; position: absolute; top: 0px; left: 0;}

#canvas h2{ padding:0; margin:0; font-size:12px;}

#seoul, #gygg, #incheon, #gangwon, #chungbuk, #chungnam, #daejeon, #sejong, #jeonbuk, #jeonnam, #gwangju, #gyeongbuk, #gyeongnam, #daegu, #busan, #ulsan, #jeju { display: none; position: absolute; height:20px; background-color:rgb(37, 37, 37); color:#fff; padding:2px 5px; text-align:center;}

#seoul{ left:80px; top:75px; }
#gygg{ left:80px; top:45px; }
#incheon{ left:60px; top:75px; }
#gangwon{ left:150px; top:45px; }
#chungbuk{ left:120px; top:145px; }
#chungnam{ left:60px; top:165px; }
#daejeon{ left:80px; top:165px; }
#sejong{ left:70px; top:145px; }
#jeonbuk{ left:60px; top:205px; }
#jeonnam{ left:60px; top:260px; }
#gwangju{ left:	60px; top:260px; }
#gyeongbuk{ left:150px; top:165px; }
#gyeongnam{ left:130px; top:240px; }
#daegu{ left:170px; top:210px; }
#busan{ left:190px; top:250px; }
#ulsan{ left:200px; top:225px; }
#jeju{ left:80px; top:340px; }

#reason__title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 35px;
}

.reason__containers{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.reason__container{
  text-align: center;
  display: inline-block;
  align-items: center;
  width: 350px;
  height: 570px;
}

.reason__subtitle{
  margin-bottom: 15px;
}

#canvas{
  display: block;
  width: 350px;
  height: 400px;
  border-radius: 15px;
  background-color: rgb(190, 230, 246);
  margin-bottom: 10px;
}

.line> .reason__graph{
  height: 400px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: rgb(190, 230, 246);
}

#mychart{
  margin-top: 20%;
  background-color: #fff;
}

#mybarchart{
  margin-top: 20%;
  background-color: #fff;
}
.bar> .reason__graph{
  height: 400px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: rgb(190, 230, 246);
}

.reason__graph{
  margin-bottom: 10px;
}

/* 컨테이너 width 320 height 400 */

#Intro__Problem{
  background-color: rgb(220, 245, 224);
}

#problem__title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.problem__container{
  display: flex;
  margin-top: 20px;
  background-color: rgb(201, 253, 195);
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.problem__container2{
  display: flex;
  margin-top: 20px;
  background-color: rgb(201, 253, 195);
  width: 90%;
  margin: auto;
}


.problem__subtitle{
  background-color: aquamarine;
  padding: 10px 0 10px 20px;
}

.problem__text{
  padding-top: 20px;
  background-color: beige;
  height: 82%;
  padding-left: 20px;
}

.problem__text__container{
  width: 100%;
}

#pieChart{
  padding: 10px;
  background-color: aqua;
}

#problem__imo{
  width: 405px;
  height: 250px;
  background-color: aqua;
}

.problem__bg{
  background: url(images/fox_imo.png) center/75% no-repeat;
}

.problem__text__container2{
  width: 100%;
  text-align: right;
}

.problem__subtitle2{
  background-color: aquamarine;
  padding: 10px 20px 10px 0;
}

.problem__text{
  padding-top: 20px;
  background-color: beige;
  height: 82%;
  padding-right: 20px;
}

#Body__Muscle__backkick{
  background-color: rgba(69, 219, 245, 0.683);
}

#muscle__title1{
  text-align: center;
  font-size: 20px;
  margin-bottom: 2%;
}

#muscle__text__intro{
  width: 80%;
  text-align: center;
  border-radius: 25px;
  background: #efefef;
  margin: 0 auto;
  padding: 25px;
  line-height: 35px;
}

#back__kick__container{
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

#back__kick{
  padding: 10px;
  display: inline-block;
  border: 1px solid black;
  background-color: #fff;
}

#back__kick_gif{
  width: 300px;
  height: 300px;
  background: url(images/뒤차기.gif) center/cover no-repeat;
  margin-top: 10%;
}

#back__kick__title{
  font-size: 14px;
  text-align: center;
  padding-top: 8%;
}

#back__kick__textphase{
  padding: 10px;
  display: inline-block;
  border: 1px solid black;
  background-color: #fff;
}

#back__kick__text{
  text-align: center;
  padding-top: 12%;
  font-size: 14px;
}

#back__kick__phase{
  width: 350px;
  height: 220px;
  background: url(images/backkickphase.png) center/cover no-repeat;
  margin-top: 20%;
}

#back__kick__muscle{
  width: 240px;
  height: 400px;
  background: url(images/backkickmuscle.png) center/cover no-repeat;
}

#back__kick__textmuscle{
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
}

#back__kick__text2{
  text-align: center;
  font-size: 14px;
  padding-top: 5%;
}

#back__kick__muscle{
  margin: 0 auto;
}

.muscle__radar{
  background-color: beige;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  width: 90%;
  padding: 10px;
}

#Body__Muscle__backhook{
  background-color: burlywood;
  height: 1000px;
}

#muscle__radar__text{
  text-align: justify;
  padding: 3% 1% 0 0;
  line-height: 25px;
}

#backhook__title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 2%;
}

#backhook__text{
  width: 70%;
  text-align: center;
  padding: 25px;
  padding-bottom: 45%;
  background-color: aquamarine;
  margin: 0 auto;
  line-height: 35px;
}

#backhook__total__container{
  position: relative;
}

#backhook__container{
  display: inline-block;
  position: absolute;
  top: 140px;
  left: 20px;
}

#backhook__gif{
  width: 380px;
  height: 250px;
  background: url(images/backhookkick.gif) center/cover no-repeat;
}

#backhook__gif__text{
  display: inline-block;
  text-align: center;
  background-color: beige;
  line-height: 25px;
  padding: 15px;
  width: 380px;
}

#backhook__graph__container{
  text-align: justify;
  display: inline-block;
  position: absolute;
  width: 670px;
  top: 150px;
  left: 470px;
  background-color: beige;
}

#backhook__graph__text{
  padding: 15px;
  padding-top: 25px;
}

#mixed-chart{
  padding: 10px;
}

#kick__con{
  display: inline-block;
  width: 85%;
  position: absolute;
  text-align: center;
  background-color: beige;
  line-height: 30px;
  padding: 25px;
  top: 790px;
  left: 50%;
  transform: translate(-50%, -50%);
}